.header
	height: 76px
	width: 100%
	margin: 0 auto
	padding-left: 16.5%
	padding-right: 16.5%
	
	+md
		padding-left: 19px
		padding-right: 19px  
	
.logo
	float: left
	text-decoration: none
	font-family: "Bebas Bold", sans-serif
	font-size: 45px
	color: #e9603a
	// color: black
	margin-top: 12px
	letter-spacing: 1.5px
	
	&--light
		color: #f3b09e
		// color: black
	
.nav
	float: right
	list-style: none
	
	&__item
		float: left
		margin-top: 30px
		margin-left: 27px
		
		+md
			margin-left: 50px
		
	&__link
		text-decoration: none
		font-family: "Bebas", sans-serif
		font-size: 21px
		color: #b9b9b9
		
		&:hover
			text-decoration: underline
		
.is-active
	color: #e8603c