<!-- begin blog -->
<div class="blog">
	
	<!-- begin post -->
	<div class="post post--with-image is-first">

		<a href=""><img src="../img/icon_1.png" alt="icon" class="post__icon" width="75" height="75"></a>

		<!-- begin post__content -->
		<div class="post__content">
			
			<img src="../img/image_1.png" alt="image" class="post__image" width="670" height="300">

			<!-- begin post__info -->
			<div class="post__info">
				
				<!-- begin post__info--date -->
				<div class="post__info--date">
					<h3 class="h3">Date</h2>
					<h4 class="h4"><a class="exp" href="">April 15, 2012</a></h4>
				</div>
				<!-- end post__info--date -->

				<!-- begin post__info--tags -->
				<div class="post__info--tags">
					<h3 class="h3">Tags</h2>
					<h4 class="h4"><a class="exp" href="">Website</a>  |  <a class="exp" href="">Design</a></h4>
				</div>
				<!-- end post__info--tags -->

				<!-- begin post__info--comments -->
				<div class="post__info--comments">
					<h3 class="h3">Comments</h2>
					<h4 class="h4"><a class="exp" href="">4</a></h4>
				</div>
				<!-- end post__info--comments -->

			</div>
			<!-- end post__info -->

			<!-- begin post__text -->
			<div class="post__text">
				
				<h1 class="h1">Top  WordPress  Themes  of  2012</h1>

				<!-- begin post__article--text -->
				<div class="text text-type__article">
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
					<br>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
				</div>
				<!-- end post__article--text -->
				
			</div>
			<!-- end post__text -->

		</div>
		<!-- end post__content -->
		
	</div>
	<!-- end post -->

	<!-- begin underline -->
	<div class="underline">
		
	</div>
	<!-- end underline -->

	<!-- begin post -->
	<div class="post post--with-image">

		<a href=""><img src="../img/icon_2.png" alt="icon" class="post__icon" width="75" height="75"></a>

		<!-- begin post__content -->
		<div class="post__content">
			
			<img src="../img/image_2.png" alt="image" class="post__image" width="670" height="300">

			<!-- begin post__info -->
			<div class="post__info">
				
				<!-- begin post__info--date -->
				<div class="post__info--date">
					<h3 class="h3">Date</h2>
					<h4 class="h4"><a class="exp" href="">April 15, 2012</a></h4>
				</div>
				<!-- end post__info--date -->

				<!-- begin post__info--tags -->
				<div class="post__info--tags">
					<h3 class="h3">Tags</h2>
					<h4 class="h4"><a class="exp" href="">Website</a>  |  <a class="exp" href="">Design</a></h4>
				</div>
				<!-- end post__info--tags -->

				<!-- begin post__info--comments -->
				<div class="post__info--comments">
					<h3 class="h3">Comments</h2>
					<h4 class="h4"><a class="exp" href="">4</a></h4>
				</div>
				<!-- end post__info--comments -->

			</div>
			<!-- end post__info -->

			<!-- begin post__text -->
			<div class="post__text">
				
				<h1 class="h1">Jesus  Typography  Wallpaper  Giveaway!</h1>

				<!-- begin post__article--text -->
				<div class="text text-type__article">
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
					<br>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
				</div>
				<!-- end post__article--text -->
				
			</div>
			<!-- end post__text -->
			
		</div>
		<!-- end post__content -->
		
	</div>
	<!-- end post -->

	<!-- begin underline -->
	<div class="underline">
		
	</div>
	<!-- end underline -->

	<!-- begin post -->
	<div class="post post--with-quote">

		<a href=""><img src="../img/icon_3.png" alt="icon" class="post__icon" width="75" height="75"></a>

		<!-- begin post__content -->
		<div class="post__content">

			<img src="../img/quote.png" alt="quote__icon" class="quote__icon">

			<!-- begin post__text -->
			<div class="post__text">

				<!-- begin post__article--text -->
				<div class="text text-type__quote">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique consectetur rem sit neque distinctio unde suscipit ipsam quae quod ex nobis numquam, nesciunt sint nulla ab, magni eos molestias quis. Nisi quos laborum amet beatae, quod veritatis quo quia reprehenderit ratione odio rem. Fugit ducimus ea cum incidunt.</p>
				</div>
				<!-- end post__article--text -->
				
			</div>
			<!-- end post__text -->
			
		</div>
		<!-- end post__content -->
		
	</div>
	<!-- end post -->

	<!-- begin underline -->
	<div class="underline">
		
	</div>
	<!-- end underline -->

	<!-- begin post -->
	<div class="post post--with-description">

		<a href=""><img src="../img/icon_4.png" alt="icon" class="post__icon" width="75" height="75"></a>

		<!-- begin post__content -->
		<div class="post__content">

			<h1 class="h1">Some  of  the  best  freebies  on  the  web</h1>
			<a href="" class="description__link">www.bestpsdfreebies.com</a>

			<!-- begin post__text -->
			<div class="post__text">

				<!-- begin post__article--text -->
				<div class="text text-type__description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique consectetur rem sit neque distinctio unde suscipit ipsam quae quod ex nobis numquam, nesciunt sint nulla ab, magni eos molestias quis.</p>
				</div>
				<!-- end post__article--text -->
				
			</div>
			<!-- end post__text -->
			
		</div>
		<!-- end post__content -->
		
	</div>
	<!-- end post -->

	<!-- begin underline -->
	<div class="underline">
		
	</div>
	<!-- end underline -->




	<ul class="page__number">
		<li class="page__number__item"><a class="page__number__link page__number__link_is-active" href="">1</a></li>
		<li class="page__number__item"><a class="page__number__link" href="">2</a></li>
		<li class="page__number__item"><a class="page__number__link" href="">3</a></li>
	</ul>









	
</div>
<!-- end blog -->