<!-- begin header -->
<div class="header" id="header">
	
	<a href="" class="logo">JET<span class="logo--light">RO</span></a>

	<input type="button" name="" class="burger" id="burger" onclick="menu()">

	<ul class="nav" id="nav">
		<li class="nav__item"><a href="" class="nav__link">HOME</a></li>
		<li class="nav__item"><a href="" class="nav__link">ABOUT US</a></li>
		<li class="nav__item"><a href="" class="nav__link is-active">BLOG</a></li>
		<li class="nav__item"><a href="" class="nav__link">PORTFOLIO</a></li>
		<li class="nav__item"><a href="" class="nav__link">CONTACT US</a></li>
	</ul>

</div>
<!-- end header -->

