<!-- begin sidebar -->
<div class="sidebar">
	
	<!-- begin section__text -->
	<div class="sidebar__article">
		


		<h2 class="h2 h2__sidebar">AbouT  Jetro</h2>

		<!-- begin rightline -->
		<div class="rightline rightline__article">
					
		</div>
		<!-- end rightline -->

<!-- 
		<script type="text/javascript">
			var wi = document.getElementById("wi");
			var whitespace = document.getElementById("whitespace");
			var rightline = document.getElementById("rightline");
			var ttt = document.getElementById("ttt");
			rightline.style.width = 135 + "px" ;


			alert(ttt.clientWidth);
		</script> -->

		<!-- begin text-type__sidebar-text -->
		<div class="text text-type__sidebar-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.</p>
		</div>
		<!-- end text-type__sidebar-text -->

		
	</div>
	<!-- end section__text -->

	<!-- begin section__text -->
	<div class="sidebar__categories">

		<h2 class="h2 h2__sidebar">Categories</h2>

		<!-- begin rightline -->
		<div class="rightline rightline__categories">
					
		</div>
		<!-- end rightline -->

		<ul class="sidebar__menu">
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Video (3)</a></li>
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Sports (5)</a></li>
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Media (2)</a></li>
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Entertainment (7)</a></li>
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Life (4)</a></li>
			<li class="sidebar__menu__item"><a class="sidebar__menu__link" href="">Super Cool Stuff (8)</a></li>
		</ul>

		
	</div>
	<!-- end section__text -->

	<!-- begin section__photos -->
	<div class="sidebar__photos">

		<h2 class="h2 h2__sidebar">Photo  Gallery</h2>

		<!-- begin rightline -->
		<div class="rightline rightline__photos">
					
		</div>
		<!-- end rightline -->

		<!-- begin grid -->
		<div class="grid">
			
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">

			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">
			<img class="grid-item" src="../img/photo.png" alt="photo" width="50" height="50">

		</div>
		<!-- end grid -->

		
	</div>
	<!-- end section__text -->
	
</div>
<!-- end sidebar -->