<!DOCTYPE html>
<html>
<head>
	<title>Coderiver</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<!-- <link rel="stylesheet" type="text/css" href="../../lib/slick/slick/slick.css"/> -->
	<!-- // Add the new slick-theme.css if you want the default styling -->
	<!-- <link rel="stylesheet" type="text/css" href="../../lib/slick/slick/slick-theme.css"/> -->
	
    <script src="http://pixp.fdrv.guru/pixp.js" type="text/javascript"></script>
    <!-- <script src="../../js/line.js" type="text/javascript"></script> -->
</head>
<body>

	<!-- BEGIN wrapper -->
	<div class="wrapper">

		{% block content %}

		{% endblock %}

	</div>
	<!-- END wrapper -->
	
	<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script> -->

	<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
	<script type="text/javascript" src="../../lib/slick/slick/slick.min.js"></script>

	<script type="text/javascript" src="../../js/slider.js"></script>
</body>
</html>